{{#if username}}
  <title>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/user">{{username}}</a>
    </li>
  </title>
  {{else}}
  <title> 
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/login">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/register">Register</a>
    </li>
  </title>
{{/if}}