
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Display All Artists Page</title>
<!-- Include Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

  <!-- Search Bar -->
  <div class="container mt-3">
    <input type="text" id="searchInput" class="form-control" placeholder="Search Artists">
  </div>

 <!-- display artists --->
<div class="container mt-5">
    <h2>All Artists</h2>
    <!-- Container for artist information -->
      <div id="artistContainer">
        <!-- Artist information will be dynamically inserted here -->
      </div>

      <!-- Include jQuery library -->
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <!-- Include your script.js file -->
      <script src="../../.././resources/js/script.js"></script>
</div>