{{>message}}
<body>
    <div class="container mt-3 mb-3">
        <!-- Iterate over each gene and display artists for each gene -->
        {{#each genes}}
            <div class="card mt-3">
                <div class="card-header">
                    <h2 class="card-title">{{this}}</h2> <!-- Display the name of the gene -->
                </div>
                <div class="card-body">
                    <div class="row">
                        <!-- Iterate over artists and display their thumbnails -->
                        {{#each artists}}
                            <div class="col-md-3">
                                <div class="card mb-3">
                                    <img src="{{thumbnail}}" class="card-img-top" alt="{{name}} Thumbnail">
                                    <div class="card-body">
                                        <p class="card-text">{{name}}</p> <!-- Display the name of the artist -->
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        {{/each}}
    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <!-- Include Handlebars runtime -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.runtime.min.js"></script>
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Include your script.js file -->
    <script src="../../../resources/js/script.js"></script>

    <!-- Script to fetch and display artists -->
    <script>
        // Example usage: Fetch artists of a certain gene when the page loads
        $(document).ready(function() {
            var geneNames = ['pop-art', 'renaissance']; // Replace with the desired gene names
            fetchArtistsByGene(geneNames);
        });
    </script>
</body>
</html>
