{{>message}}
<body>
<script>var geneNames = ['modern','pop-art','architecture','renaissance','expressionism','surrealism']; // Replace with the desired gene names </script>
<script src = "/resources/js/script.js" type="text/javascript"></script>
<!-- Script to fetch and display artists -->
<script>
    // Example usage: Fetch artists of a certain gene when the page loads
    $(document).ready(function() {
        fetchArtistsByGene(geneNames);
    });
</script>
    
<div id="artistsContainer" class="container mt-3 mb-3 md-3">
  {{#each geneNames}}
    <div class="container mb-3" id="geneContainer">
      <h2>{{geneNames.name}}</h2> <!-- Assuming geneNames is an array of gene names -->
    <div class="row">
      {{#each artists}}
        <div class="col-md-3">
          <div class="card mt-3">
            <img src="{{thumbnail}}" class="card-img-top" alt="{{name}} Thumbnail">
            <div class="card-body">
              <p class="card-text">{{name}}</p>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
    </div>
  {{/each}}
</div>


</body>
