<div>
    <div class="container pb-0 mb-2">
        <h4 class="text-center mt-2">Explore Artworks</h4>
        <div class="row row-cols-3 gy-4">
            {{#each artworks}}
                <div class="col">
                    <div class="card h-100 overflow-y-scroll shadow">
                        <img src={{_links.thumbnail.href}} class="card-img-top w-100 h-50 object-fit-cover">
                        <div class="card-body">
                            <h6 class="card-title">{{title}}</h6>
                            <div class="card-text">
                                <p>{{medium}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>