<div>
    <!--
        Setup:
        - discover route should make API calls to Artsy, retrieving Events, Artworks, Artists
        - grid like structure
            - hierarchy:
                - Events
                - Artworks
                - Artists
        - will display a sample of the ones retrieved by the API
        - 
    -->
    <div id="events">
        <h4>Explore Events</h4>

    </div>
    <div id="artworks">
        <h4>Inspect Artworks</h4>

    </div>
    <div id="artists">
        <h4>Discover Artists</h4>
        
    </div>
</div>