<div>
    <!--
        Setup:
        - discover route should make API calls to Artsy, retrieving Events, Artworks, Artists
        - grid like structure
            - hierarchy:
                - Events
                - Artworks
                - Artists
        - will display a sample of the ones retrieved by the API
        - 
    -->
    <div id="events">
        <h4 class="text-center">Explore Events</h4>
        <div class="container">
            <div class="d-flex flex-row">
                {{#each events}}
                    <div class="card mb-3">
                        <img src="..." class="card-img-top">
                        <div class="card-body">
                            <h6 class="card-title">{{name}}</h6>
                            <p class="card-text">{{about}}</p>
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
    <div id="artworks">
        <h4 class="text-center">Inspect Artworks</h4>

    </div>
    <div id="artists">
        <h4 class="text-center">Discover Artists</h4>
        
    </div>
</div>