<div class="container">
    <div class="row justify-center">
        <div class="col-4">
            col1
        </div>
        <div class="col-8">
            <img class="h-75 object-fit-cover text-center" src="https://www.artic.edu/iiif/2/{{image_id}}/full/843,/0/default.jpg"/>
        </div>
    </div>
</div>