  {{!-- <title>{{username}}</title>
  <main class="container">
      <div class="col-sm-8 py-5 mx-auto">
        <h1>Welcome, {{username}}</h1>
        <table>
            {{followedArtists}}
        </table>
        <table>
            {{userEvents}}
        </table>
      </div>
      <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </main> --}}

  <form action="/upload" method="POST" enctype="multipart/form-data">
              <div class="mb-3">
                    <div class="form-file custom-file">
                        <input class="form-control" type="file" id="formFile" name="image" multiple>
                        <label class="form-file-label" for="image"
                        </label>
                    </div>
                    <input class="form-control" type="text" id="title" name="title" placeholder="Enter title">
           </div>
     <button type="submit" class="btn btn-success">Upload</button>
</form>
